@background-color: #f4f4f4;
@font-family: "Caesar Dressing", cursive;
@chin-font-family: "Noto Sans TC", sans-serif;
@font-weight: 500;
@primary-color: #40c36c;
@secondary-color: #ff2828;

.text-color(@a) when(lightness(@a) >= 50%) {
  color: black;
}

.text-color(@a) when(lightness(@a) < 50%) {
  color: white;
}

body {
  font-family: @font-family;
  font-weight: @font-weight;
  background: @background-color;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.primary-text {
  color: @primary-color;
  svg {
    margin: 0 20px;
  }
}

.btn {
  position: relative;
  top: 0;
  left: 0;
  transition: box-shadow 0.5s, left 0.5s, top 0.5s;
  padding: 10px 20px;
  border: 0;
  .border-radius(10px);
  cursor: pointer;
  box-shadow: 5px 10px #888888;
}

.flexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.primary-btn:extend(.btn) {
  background: @secondary-color;
  .text-color(@secondary-color);

  div {
    .flexCenter;

    h2 {
      .flexCenter;
    }
  }

  &:hover {
    top: 10px;
    left: 10px;
    box-shadow: 0px 0px #888888;
  }
}

.radioBox {
  .flexCenter;
  margin-left: 40px;
}

h1 {
  .bordered;
  font-family: @font-family;
  font-weight: @font-weight;
}

h2 {
  font-family: @font-family;
  font-weight: @font-weight;
}

p {
  font-family: @chin-font-family;
  font-size: 80px;
}

.border-radius(@radius) {
  border-radius: @radius;
}

.bordered {
  padding: 20px;
  border: 1px solid #000;
}

.hide {
  opacity: 0;
}

.absolute {
  position: absolute;
  bottom: 0;
  right: 0;
}

.relative {
  position: relative;
}

.radioBtn {
  .hide;
  transform: scale(3);
}
